@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth !important;
}

@layer base {

  body {
    @apply bg-[#111111] text-[#f5eded] tracking-wide
  }

  h1,h2,h3,h4,h5,h6 {
    @apply font-semibold
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-5xl
  }

  h2 {
    @apply text-3xl sm:text-4xl 
  }

  li {
    @apply cursor-pointer
  }

  button {
    @apply shadow-xl shadow-black rounded-xl uppercase bg-gradient-to-r from-[#D72323] to-[#ab1c1c] text-[#f5eded]
  }
}